<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://ec2-54-83-26-65.compute-1.amazonaws.com:5432/d90kv330144fia?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="connection.username">okrnmvzpvozzjh</property>
        <property name="connection.password">0f868f2fe77ec5e481af27675c1355587683e54fefeafb3c4d18d73c37134b1d</property>

        <mapping class="com.smartMed2017.model.Analysis"/>
        <mapping class="com.smartMed2017.model.Labwork"/>
        <mapping class="com.smartMed2017.model.Patient"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>